.gitconfig
.recentf
.recentf~
.rediscli_history
.gemrc
.bash_history
pip/
.ssh/
.org-timestamps/
.gem/
.cpanm/
.bundle/
.emacs.d/layers/
.emacs.d/.cache/
.emacs.d/.github/
.emacs.d/assets/
.emacs.d/core/
.emacs.d/doc/
.emacs.d/elpa/
.emacs.d/server/
.emacs.d/tests/
.emacs.d/.projectile
.emacs.d/.travis.yml
.emacs.d/.travis-build.sh
.emacs.d/ac-comphist.dat
.emacs.d/CHANGELOG.org
.emacs.d/CONTRIBUTING.org
.emacs.d/diary
.emacs.d/init.el
.emacs.d/org-clock-save.el
.emacs.d/README.md
.emacs.d/spacemacs.mk